<button class="btn btn-outline-danger" @onclick="RequestDelete" type="button">
    Clear List
</button>

@code {
    [Parameter] public EventCallback OnClickRequest { get; set; }

    private async Task RequestDelete()
    {
        await OnClickRequest.InvokeAsync();
    }
}
