<button class="btn btn-sm btn-outline-danger" @onclick="RequestDelete" title="Remove host" type="button">
    Delete
</button>

@code {
    [Parameter] public EventCallback OnClickRequest { get; set; }

    private async Task RequestDelete()
    {
        await OnClickRequest.InvokeAsync();
    }
}
